html, body {
  font: normal .95rem Inter, sans-serif;
  color: #111111;
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

*, ::after, ::before {
  box-sizing: border-box;
}

#ROOT {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 0.01rem solid #111111;
}

header, footer {
  padding: 1.5em;
  box-sizing: border-box;
}

header {
  border: 0.01rem solid #111111;
  border-top: none;
  border-right: none;
  border-left: none;
}

a {
  color: #111111;
  text-decoration: none;
}

.border-box {
  border: 0.01rem solid #111111;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  margin: auto 20vw;
}

.col {
  display: flex;
  flex-direction: column;
  border: 0.01rem solid #111111;
  border-top: none;
  border-bottom: none;
  align-items: stretch;
}

h2, h3, h4 {
  text-align: center;
  margin: 0;
}

#chat-pane {
  flex: 50%;
  justify-content: space-between;
}

#chat-profile {
  border: 0.01rem solid #111111;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  margin: 1.5em auto 0em;
}

#list-pane {
  flex: 25%;
}

#info-pane {
  flex: 25%;
}

#chat-pane {
  border: none;
}

#chat-header {
  padding: 1em;
  border-bottom: 0.01rem solid #111111;
}

#members, #chats {
  display: flex;
  flex-direction: column;
}

#message-box {
  display: flex;
  justify-content: space-between;
  border:none;
  border-top: 0.01rem solid #111111;
}

.heading {
  margin: 1.5em auto 0em;
}

input {
  background: none;
  border: none;
  outline: none;
  padding: .8rem;
  font: normal 1rem Inter, sans-serif;
  flex-grow: 1;
}

p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

#messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .5em;
}

#message, #chat-participant {
  display: flex;
  align-items: center;
  border: 0.01rem solid #111111;
  border-radius: 0.5em;
  box-sizing: border-box;
  box-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.15), 0 0.1em 0.1em rgba(0, 0, 0, 0.2), 0 0.2em 0.2em rgba(0, 0, 0, 0.15), 0 0.4em 0.4em rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}

#message {
  margin: .5em;
}

#chat-participant {
  margin: 1em 1.25em;
}

#chats, #chat-information, #messages {
  overflow-y: auto;
}

#chat {
  border-bottom: 0.01rem solid #111;
  padding: 0.8rem;
}

button {
  background-color: #FFFFFF;
  border: none;
  border-left: 0.01rem solid #111111;
  padding: .8rem;
}

footer {
  border: 0.01rem solid #111111;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
