html, body {
  font: normal .95rem Inter, sans-serif;
  color: #111111;
  background: #efefefef;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scrollbar-color: #bfbfbf #d7d7d7;
}

*, ::after, ::before {
  box-sizing: border-box;
}

#ROOT {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 0.01rem solid #111111;
}

header, footer {
  padding: 1.5em;
  box-sizing: border-box;
}

header {
  border: 0.01rem solid #111111;
  border-top: none;
  border-right: none;
  border-left: none;
}

a {
  color: #111111;
  text-decoration: none;
}

.border-box {
  border: 0.01rem solid #111111;
}

.container {
  margin: auto;
}

.modal {
  border: 0.01rem solid #111111;
  border-radius: .5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signed-in-user {
  border: 0.01rem solid #111111;
  border-radius: .5em;
  margin: 1em;
  padding: 1em;
}

.login-input {
  background: none;
  border: 0.01rem solid #111111;
  outline: none;
  padding: .4rem;
  margin: .5em 1em;
  font: normal 1rem Inter, sans-serif;
}

.modal > h3 {
  margin-bottom: 1.25em;
}

#login {
  margin-bottom: 0;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  margin: auto 20vw;
}

.col {
  display: flex;
  flex-direction: column;
  border: 0.01rem solid #111111;
  border-top: none;
  border-bottom: none;
  align-items: stretch;
}

h2, h3, h4 {
  text-align: center;
  margin: 0;
}

#chat-pane {
  flex: 50%;
  justify-content: space-between;
}

#chat-profile {
  border: 0.01rem solid #111111;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  margin: 1.5em auto 0em;
}

#list-pane {
  flex: 25%;
}

#info-pane {
  flex: 25%;
}

#chat-pane {
  border: none;
}

#chat-pane > .modal, #info-pane > .modal {
  margin: auto;
}

#chat-header {
  padding: 1em;
  border-bottom: 0.01rem solid #111111;
}

#members, #chats {
  display: flex;
  flex-direction: column;
}

#message-box {
  display: flex;
  justify-content: space-between;
  border:none;
  border-top: 0.01rem solid #111111;
}

#message-input {
  resize: none;
  background: none;
  border: none;
  outline: none;
  padding: .8rem;
  font: normal 1rem Inter, sans-serif;
  flex-grow: 1;
  word-wrap: break-word;
  word-break: break-all;
}

.heading {
  margin: 1.5em auto 0em;
  font-weight: 500;
}

input {
  background: none;
  border: none;
  outline: none;
  padding: .8rem;
  font: normal 1rem Inter, sans-serif;
  flex-grow: 1;
}

p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

#messages {
  display: flex;
  flex-direction: column-reverse;
}

#inner-messages {
  padding: .5em 1em .5em 1em;
  display: flex;
  flex-direction: column;
}

.message-sender {
  font-weight: 500;
  margin-bottom: 0.5em;
}

.message-body {
}

blockquote {
  background-color: #e8e8e8;
  border-left: 0.01rem solid #111;
  padding: .5em 1em;
  margin: .5em .5em;
}

.message, #chat-participant {
  display: flex;
  border: 0.01rem solid #111111;
  border-radius: 0.5em;
  box-sizing: border-box;
  box-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.15), 0 0.1em 0.1em rgba(0, 0, 0, 0.2), 0 0.2em 0.2em rgba(0, 0, 0, 0.15), 0 0.4em 0.4em rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}

#chat-participant {
  align-items: center;
}

.message {
  flex-direction: column;
  max-width: 22vw;
  margin: .5em auto .5em 0em;
  justify-content: right;
}

.message > p {
  display: flex;
  flex-shrink: 1;
}

#chat-participant {
  margin: 1em 1.25em;
}

#chats, #chat-information, #messages {
  overflow-y: auto;
  height: 0px;
  flex-grow: 1;
}

.self-sent {
  margin-left: auto;
  margin-right: 0;
}

.chat{
  text-align: left;
  padding: 0.8rem;
  border-bottom: 0.01rem solid #111111;
}

.chat:focus {
  background-color: #e2e2e2;
}

.last-chat {
  border-bottom: none;
}

button {
  background-color: #eeeeee;
  border: none;
  font: normal 1rem Inter, sans-serif;
}

button:hover {
  background-color: #e2e2e2;
}


.text-button {
  margin: 1em;
  padding: .5rem;
  border: 0.01rem solid #111111;
}

#send-button {
  border: none;
  border-left: 0.01rem solid #111111;
  padding: .8rem;
}

footer {
  border: 0.01rem solid #111111;
  border-bottom: none;
  border-right: none;
  border-left: none;
}