@use '../include/_variables' as v

#matrix-client
  font: normal .95rem v.$font
  display: flex
  flex: 1 0 auto

  .border-box
    border: 0.01rem solid v.$border-color

  .container
    margin: auto

  .modal
    border: 0.01rem solid v.$border-color
    border-radius: .5em
    padding: 2em
    display: flex
    flex-direction: column
    align-items: center

  .modal-header
    margin-bottom: 1.25em

  .col
    display: flex
    flex-direction: column
    border: 0.01rem solid v.$border-color
    border-top: none
    border-bottom: none
    align-items: stretch

  .heading
    margin: 1.5em auto 0em
    font-weight: 500

  .list
    padding: 0
    margin: 0
    flex-grow: 1

  .text-button
    margin: 1em
    padding: .5rem
    border: 0.01rem solid v.$border-color
