@use '../include/_variables' as v
@use '../include/_themes' as t
@use 'library'

html, body
  color: v.$fg
  background: v.$bg
  padding: 0
  margin: 0
  overflow-x: hidden
  scrollbar-color: v.$scrollbar-accent v.$scroll-accent
  @include t.dark
    color: v.$dark-fg
    background: v.$dark-bg
    scrollbar-color: v.$dark-scrollbar-accent v.$dark-scroll-accent

*, ::after, ::before
  box-sizing: border-box

#global
  font: normal .95rem v.$font
  display: flex
  flex-direction: column
  min-height: 100vh
  border: 0.01rem solid v.$border
  @import 'global'
  @include t.dark
    border-color: v.$dark-border
