// colors
$bg-color: #EFEFEF
$fg-color: #111111

$reply-accent: #E8E8E8

$button-color: #EEEEEE
$button-accent: #E2E2E2

$scroll-accent: #D7D7D7
$scrollbar-accent: #BFBFBF

// fonts
$font: Inter, sans-serif
